<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-description>
      {{ !!model.propertyName ? model.propertyName : 'Empty selector' }}
    </mat-panel-description>
    <mat-panel-title>
      {{ !!model.selector ? model.selector : 'Empty selector' }}
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="grid grid-cols-2 gap-2">
    <mat-form-field appearance="outline">
      <mat-label>Selector</mat-label>
      <input matInput [(ngModel)]="model.selector">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Property Name</mat-label>
      <input matInput [(ngModel)]="model.propertyName">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Navigation Page Object</mat-label>
      <input matInput [(ngModel)]="model.navigationPageObjectName">
    </mat-form-field>
    <div></div>
    <mat-checkbox checked [(ngModel)]="model.generateLocator">Generate locator</mat-checkbox>
    <mat-checkbox checked [(ngModel)]="model.generateClickAsync">ClickAsync()</mat-checkbox>
    <mat-checkbox [(ngModel)]="model.useSelfSelector">Use class self selector</mat-checkbox>
    <mat-checkbox [(ngModel)]="model.generateIsVisibleAsync">IsVisibleAsync()</mat-checkbox>
  </div>
  <div class="flex justify-end">
    <button (click)="deleteSelector()" mat-stroked-button color="warn">Delete</button>
  </div>
</mat-expansion-panel>