<div class="h-full grid grid-cols-2 grid-rows-1">
  <div class="grid grid-rows-[min-content,auto] h-screen max-h-screen">
    <mat-toolbar color="primary">
      <span>po-code-gen</span>
    </mat-toolbar>
    <div class="p-4 border-r overflow-auto">
      <mat-accordion displayMode="flat">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Output Configuration
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="flex flex-col">
            <mat-checkbox #generateImplementation checked>Generate implementation</mat-checkbox>
            <mat-checkbox #generateInterface checked>Generate interface</mat-checkbox>
            <mat-checkbox #generateFactoryMethod checked>Generate factory method</mat-checkbox>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Variable Settings
            </mat-panel-title>
          </mat-expansion-panel-header>
          <form #settingsForm="ngForm"  class="flex flex-col">
            <mat-form-field appearance="outline">
              <mat-label>Namespace</mat-label>
              <input name="namespaceName" matInput [(ngModel)]="classModel.namespaceName" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Class</mat-label>
              <input name="className" matInput [(ngModel)]="classModel.className" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Base class</mat-label>
              <input name="baseClassName" matInput [(ngModel)]="classModel.baseClassName" required>
            </mat-form-field>
          </form>
        </mat-expansion-panel>
      </mat-accordion>
      <div class="mb-28">
        <div class="p-4">
          <button (click)="addSelector()" mat-stroked-button color="primary">Add selector</button>
        </div>
        <mat-accordion displayMode="flat">
          <po-selector-list-entry *ngFor="let selector of classModel.selectors" (delete)="deleteSelector(selector)" [model]="selector"></po-selector-list-entry>
        </mat-accordion>
      </div>
    </div>
  </div>
  <div class="grid grid-rows-[min-content,auto] h-screen max-h-screen">
    <mat-toolbar color="primary">
      <span>output</span>
    </mat-toolbar>
    <div class="p-4 border-l overflow-auto">
      <div class="border-b last:border-none" *ngIf="generateImplementation.checked">
        <h1>Implementation:</h1>
        <po-code-text-viewer [code]="implementationCode"></po-code-text-viewer>
      </div>
      <div class="border-b last:border-none" *ngIf="generateInterface.checked">
        <h1>Interface:</h1>
        <po-code-text-viewer [code]="interfaceCode"></po-code-text-viewer>
      </div>
      <div class="border-b last:border-none" *ngIf="generateFactoryMethod.checked">
        <h1>Factory method:</h1>
        <po-code-text-viewer [code]="factoryMethodCode"></po-code-text-viewer>
      </div>
    </div>
  </div>
</div>
